<div class="container">
    <h1 class="fw-bold">About Us</h1>
    <p class="lead"> In here you can find a little description</p>
</div>
<div>
    <p class="text">My name is Daniela Martínez, I am 21 years old. I am currently studying Environmental 
    Civil Engineering, and the reason why I chose this technological concentration is that I want to expand 
    my knowledge in programming. Due to the mentioned aspect, I created Y, a webpage that includes differents 
    pages to satisfy the intructions of Laboratory 03 of web technology.<p>
</div>

